@import "../../styles/variables.scss";
@import "../../styles/common.scss";
.logo {
  @extend .box;
  color: $purple;
  font-weight: bolder;
  font-size: 2em;
  margin-bottom: 0.7em;
  .icon {
    background: $white;
    border-radius: 1em;
    margin-right: 0.5em;
  }
}
.side-menu .menu-item {
  @extend .box;
  padding: 0.5em;
  border-radius: 7px;

  &.active,
  &:hover {
    background-color: $purple;
  }
  .icon {
    margin-right: 1em;
  }
}
